Repository ws-4020/rn-spoiler, pull requests merged in 2020-11, with the labels that each got.

#22 🌱: Add samples of react-native-vector-icons
  .script/jobs/reset-cache-macos.js
  README.md
  docs/content/react-native/_index.md
  docs/content/react-native/icon/_index.md
  docs/content/react-native/running-on-device/_index.md
  ios/HelloWorld.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package-lock.json
  package.json
  src/example/components/basics/CameraIcon.tsx
  src/example/components/basics/GearIcon.tsx
  src/example/components/basics/HomeIcon.tsx
  src/example/components/basics/PencilIcon.tsx
  src/example/components/basics/SpecificIconType.ts
  src/example/components/basics/TrashIcon.tsx
  src/example/components/basics/index.ts
  src/example/components/pages/HomeScreen.tsx
  src/example/components/pages/SettingsScreen.tsx
  src/example/components/pages/form/FormWizardNavigator.tsx
  src/example/components/pages/form/InputForm1Screen.tsx
  src/example/components/pages/form/InputForm2Screen.tsx
  src/example/components/pages/form/InputFormCompleteScreen.tsx
  src/example/components/pages/form/InputFormConfirmScreen.tsx
  src/example/components/parts/Text.tsx
  src/example/components/parts/index.ts
Labels: app, build, doc, iOS

#28 🌱: Add how to set environment for vscode
  README.md
  settings-vscode.md
Labels: doc

#30 ✨: Initialize the project after creating from template
  .editorconfig
  post-init.js
Labels: chore

#32 📝: Add IntelliJ IDEA configuration files
  .gitignore
  .idea/google-java-format.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/rn-spoiler.iml
  .idea/runConfigurations/Android (debug).run.xml
  .idea/runConfigurations/Start Metro.run.xml
  .idea/runConfigurations/iPhone 11 (14.1) - Debug.run.xml
  .idea/runConfigurations/iPhone 11 Pro (14.1) - Debug.run.xml
  .idea/runConfigurations/iPhone 12 Pro Max (14.1) - Debug.run.xml
  .idea/runConfigurations/iPhone 12 mini (14.1) - Debug.run.xml
  .idea/runConfigurations/iPhone 8 (13.5) - Debug.run.xml
  .idea/runConfigurations/iPhone 8 (14.1) - Debug.run.xml
  .idea/runConfigurations/iPhone Xs (12.4) - Debug.run.xml
  .idea/vcs.xml
Labels: chore

#31 📝: Add useful options to runner.js
  template/.script/runner.js
  template/package.json
Labels: build

#33 🖋: Refine documentation
  README.md
  template/README.md
  template/docs/.gitignore
  template/docs/README.md
  template/docs/config.toml
  template/docs/content/_index.md
  template/docs/content/react-native/_index.md
  template/docs/content/react-native/running-on-device/_index.md
  template/docs/directory-structure.md
  template/docs/distribute-application.md
  template/docs/go.mod
  template/docs/go.sum
  template/docs/icon-font.md
  template/docs/running-on-ios.md
  template/docs/settings-vscode.md
  template/docs/style-guide.md
  template/docs/troubleshooting.md
  template/settings-vscode.md
Labels: doc

#34 🐛: Use promises in `fs` module instead of `fs/promises`
  post-init.js
Labels: chore
