Repository ws-4020/rn-spoiler, pull requests merged in 2020-10, with the labels that each got.

#4 📈: Add a workflow to label pull requests
  .github/labeler.yaml
  .github/workflows/triage.yaml
Labels: chore, ci

#9 📈: Run TypeScript check if code style configuration is changed
  .github/workflows/typescript.yaml
Labels: ci

#10 🐛: Triage workflow is not triggered when a pull request is opened...
  .github/workflows/triage.yaml
Labels: ci

#11 🐛: Add debug.keystore, and follow the change of the repository name
  .github/pull_request_template.md
  .gitignore
  README.md
  android/app/debug.keystore
Labels: Android, chore, doc

#12 ♻️: Move `App.tsx` into `src` directory
  .github/labeler.yaml
  .github/workflows/typescript.yaml
  README.md
  __tests__/App.js
  index.js
  src/App.tsx
Labels: app, chore, ci, doc, test

#14 ✨: Disable expo-updates by default
  android/app/src/main/AndroidManifest.xml
  ios/HelloWorld/Supporting/Expo.plist
Labels: Android, iOS

#13 ✨: Minimize the requesting permissions (same as React Native template)
  README.md
  android/app/src/main/AndroidManifest.xml
Labels: Android, doc

#16 📈: Do not run auto-complete action just after the pr is 'ready-for-review'
  .github/workflows/auto-complete.yaml
Labels: ci

#15 🔨: Add script to clean up build artifacts and caches (macOS/Windows)
  .github/labeler.yaml
  .script/internals/task-executor.js
  .script/jobs/reset-cache-macos.js
  .script/jobs/reset-cache-windows.js
  .script/runner.js
  README.md
  package.json
Labels: build, chore, doc

#17 🖋: Add developer guide
  README.md
  docs/.gitignore
  docs/README.md
  docs/config.toml
  docs/content/_index.md
  docs/content/distribution/_index.md
  docs/content/react-native/_index.md
  docs/content/style-guide/_index.md
  docs/content/style-guide/directories/_index.md
  docs/go.mod
  docs/go.sum
Labels: doc

#8 📈: Add CodeQL action
  .github/workflows/codeql-analysis.yaml
Labels: ci

#19 🌱: Add build config for iOS to make device debugging easier
  .gitignore
  README.md
  docs/content/react-native/running-on-device/_index.md
  docs/content/react-native/running-on-device/ios/_index.md
  docs/content/react-native/troubleshooting/_index.md
  gitignore
  ios/HelloWorld.xcodeproj/project.pbxproj
  ios/HelloWorld.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/HelloWorld/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/PersonalAccount.xcconfig.template
Labels: chore, doc, iOS

#21 🐛: Increase memory size for Gradle build, cache gradle build caches in GitHub Actions
  .github/workflows/auto-complete.yaml
  .github/workflows/codeql-analysis.yaml
  android/gradle.properties
  docs/content/react-native/troubleshooting/_index.md
Labels: Android, ci, doc

#23 🌱: Keep awake while developing app
  package.json
  src/App.tsx
Labels: app, build

#24 🌱: Add React Navigation examples (simple tab and stack navigators)
  .github/labeler.yaml
  .gitignore
  __mocks__/react-native-screens.js
  __setup__/react-navigation.js
  __tests__/App.js
  android/app/src/main/java/com/helloworld/MainActivity.java
  index.js
  ios/Podfile.lock
  package-lock.json
  package.json
  src/App.tsx
  src/components/MainNavigator.tsx
  src/components/pages/HelloWorld.tsx
  src/example/components/ExampleDrawer.tsx
  src/example/components/MainNavigator.tsx
  src/example/components/pages/HomeScreen.tsx
  src/example/components/pages/SettingsScreen.tsx
  src/example/components/pages/form/FormWizardNavigator.tsx
  src/example/components/pages/form/InputForm1Screen.tsx
  src/example/components/pages/form/InputForm2Screen.tsx
  src/example/components/pages/form/InputFormCompleteScreen.tsx
  src/example/components/pages/form/InputFormConfirmScreen.tsx
  src/example/components/parts/WizardScreenDefinition.tsx
Labels: Android, app, build, chore, iOS, test

#25 ✨: Add a link to main screen in the tab bar
  src/App.tsx
  src/example/components/ExampleDrawer.tsx
  src/example/components/MainNavigator.tsx
Labels: app

#27 ✨ remove debug.keystore in .gitignore
  gitignore
Labels: chore
