Repository ws-4020/rn-spoiler, pull requests merged in 2021-05, with the labels that each got.

#60 ⬆: Upgrade Expo SDK to 41
  template/_gitignore
  template/android/build.gradle
  template/android/gradle/wrapper/gradle-wrapper.properties
  template/index.js
  template/ios/Podfile
  template/metro.config.js
  template/package.json
  template/tsconfig.json
Labels: Android, app, build, iOS

#63 📌: Flipperが依存しているPodsのバージョンを固定
  template/android/gradle.properties
  template/ios/Podfile
Labels: Android, iOS

#62 🖋️: READMEに依存パッケージのインストールとエミュレータでの起動方法を追加
  template/README.md
Labels: doc

#61 🔖: 2021.05.0
  package.json
Labels: chore

#65 🌱: rn-spoilerをテンプレートとしたアプリ（内容は学習コンテンツ）を構築するスクリプトの作成
  .gitignore
  example/hands-on/create-hands-on-app.sh
  example/hands-on/patches/06-login-screen.patch
Labels: chore
