Repository ws-4020/rn-spoiler, pull requests merged in 2021-07, with the labels that each got.

#70 ✨: 学習コンテンツのパッチファイルのcreate-hands-on-app.shを改善する
  .gitignore
  example/hands-on/create-hands-on-app.js
  example/hands-on/create-hands-on-app.sh
  example/hands-on/patches/22-generate-api-client.patch
  example/hands-on/patches/24-display-getting-todo-list.patch
  package-lock.json
  package.json
Labels: chore

#72 🐛: expo-template-bare-typescriptのリンク先をSDK 41のURLに修正
  README.md
Labels: doc

#71 🐛: Semantic Versioningの命名規約に従うようにバージョン名を修正
  package.json
Labels: chore

#73 ⬆: Upgrade Expo SDK to 42
  template/android/app/build.gradle
  template/android/app/src/main/java/com/helloworld/MainActivity.java
  template/android/app/src/main/java/com/helloworld/MainApplication.java
  template/android/gradle.properties
  template/index.js
  template/ios/HelloWorld.xcodeproj/project.pbxproj
  template/ios/HelloWorld/Images.xcassets/AppIcon.appiconset/Contents.json
  template/ios/HelloWorld/Images.xcassets/Contents.json
  template/ios/HelloWorld/Images.xcassets/SplashScreen.imageset/Contents.json
  template/ios/HelloWorld/Images.xcassets/SplashScreenBackground.imageset/Contents.json
  template/ios/HelloWorld/Info.plist
  template/ios/Podfile
  template/package.json
Labels: Android, app, build, iOS
